<!DOCTYPE HTML>
<html>
	<head>
		<title>App</title>

		<!-- web app related -->
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">

		<!-- external ressources -->
		<link rel="stylesheet" href="dependencies/normalize-css/normalize.css" type="text/css">
		<link rel="stylesheet" href="dependencies/roboto-fontface/css/roboto/roboto-fontface.css" type="text/css">

		<!-- stuff I've written -->
		<link rel="stylesheet" href="sass/styles.css" type="text/css">
	</head>

	<body>
		test
	</body>
</html>
